@font-face {
    font-family: "Mine";
    font-style: normal;
    font-weight: 900;
    src: url("/src/fonts/minecraft.ttf")
}
@font-face {
    font-family: "Museo";
    font-style: normal;
    font-weight: 500;
    src: url("/src/fonts/MuseoSansCyrl500.otf")
}
@font-face {
    font-family: "Museo";
    font-style: normal;
    font-weight: 900;
    src: url("/src/fonts/MuseoSansCyrl900.otf")
}
@font-face {
    font-family: "Museo";
    font-style: normal;
    font-weight: 300;
    src: url("/src/fonts/MuseoSansCyrl300.otf")
}
.Homeetlogo {
    margin-left:10px;
    font-style:normal;
    font-family: "Museo", normal;
    font-size: 200%;
}
.header{
    border-size:5px;
    border-style:solid;
    border-color:#6f33b9;
    color:#FFFFFF;
    width: 10;
    height:1000;
    font-family: "Mine", normal;
    margin-bottom: 40px;
    background:#9944FF;
}
.header1{
    border-size:125px;
    border-style:solid;
    border-color:#6f33b9;
    margin-top:-10px;
    margin-left:-10px;
    font-size: 150%;
    font-weight: 900;
    color:#FFFFFF;
    font-style:normal;
    width: 10000;
    height:1000;
    font-family: "Museo", normal;
    margin-bottom: 40px;
    background:#9944FF;
}
.title {
    font-family: "Museo";
    font-style: normal;
    font-weight: 500;
    margin-bottom: 100px;
    margin-left:25px;
    font-size: 20pt;
}
.col {
    white-space: nowrap;
}
.colb {
    text-shadow:#FFFFFF;
    white-space: normal;	
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
.col .colb:first-child {
	margin-right: 4%;
}
.photo_placer {
    margin-bottom: 50px;
    margin-left: 100px; 
    width: 400px; 
    height: 250px;
    border-radius: 10px;
    border-width: 5px;
    border-color:#DEDEFF;
    border-style: dashed;
    background: #F9F9FF;
    text-align: center;
}
.inside_placer {
    font-family:"Museo";
    font-weight: 500;
    font-style:normal;
    margin-top: 100px;
    margin-bottom: 10px;
}
.button_photo {
    color:#FFFFFF;
    transition: 200ms;
    font-family: "Museo";
    width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-color:#9944FF;
    border-style: solid;
    background: #9944FF;
    text-align: center;
}
.button_photo:hover {
    color:#F5F5F5;
    transition: 200ms;
    font-family: "Museo";
    width: 148px;
    height: 38px;
    margin-top: 11px;
    margin-bottom: 11px;
    border-radius: 10px;
    border-width: 2px;
    border-color:#b37cf7;
    border-style: solid;
    background: #b37cf7;
    text-align: center;
}
.button_exit {
    transition: 200ms;
    color:#850085;
    margin-top:70px;
    margin-left: 450px;
    font-family: "Museo";
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #F9F9FF;
}
.checkbox_gender_unchecked {
    border-radius:50%;
    border-width:2px;
}
.button_exit:hover {
    color:#850085;
    margin-top:74px;
    margin-left: 450px;
    font-family: "Museo";
    width: 150px;
    height: 38px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #C9C9EE;
}
.button_continue {
    transition: 200ms;
    color:#850085;
    font-family: "Museo";
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #F9F9FF;
    margin-top:20px;
    margin-left: 1050px;
}
.button_continue:hover {
    color:#850085;
    font-family: "Museo";
    width: 148px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #C9C9EE;
    margin-top:20px;
    margin-left: 1045px;
}
.button_find {
    text-align: center;
    transition: 200ms;
    color:#850085;
    font-family: "Museo";
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #F9F9FF;
    margin-top:20px;
    margin-left: 10px;
}
.button_find:hover {
    text-align: center;
    transition: 200ms;
    color:#850085;
    font-family: "Museo";
    width: 58px;
    height: 39px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #c9c9c9;
    margin-top:20px;
    margin-bottom:2px;
    margin-left: 11px;
}
.registerisation {
    height:30px;
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color:#F7F7F7;
    border-color:#f2f2f2;
}
.registerisation_label {
    height:30px;
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 50px;
    border-radius: 5px;
}
.registerisation1 {
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color:#F7F7F7;
    border-color:#DDDDDD;
}
.labels {
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.registerisation_gender {
    border-width:1px;
    margin-right:25px;
    font-family: "Museo";
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border-color:#9944FF;
}
.registerisation_status {
    border-width:1px;
    margin-right:25px;
    font-family: "Museo";
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border-color:#9944FF;
}
.registerisation_status1 {
    border-width:1px;
    margin-left:150px;
    font-family: "Museo";
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border-color:#9944FF;
}
.registerisation_about {
    font-family: "Museo";
    margin-left: 100px;
    border-width: 1px;
    margin-bottom: 100px;
    margin-top: 15px;
    border-radius: 5px;
    border-color:#9944FF;
}
.how_it_looks {
    font-family: "Museo";
    margin-bottom: 100px;
    margin-top: 50px; 
    width: 500px; 
    height: 300px;
    border-radius: 10px;
    border-width: 5px;
    border-color:#EEEEFF;
    border-style: solid;
    background: #F9F9FF;
    text-align: center;
}
.hil_title {
    margin-top:10px;
    font-family: "Museo";
}
.hil_name {
    font-family: "Museo";
    font-weight: 900;
    font-size: 18px;
    font-style:inherit;
    margin-bottom: 25px;
    text-align: left;
}
.hil_about {
    font-family: Museo;
    font-weight: 300;
    font-size: 12px;
    text-align: left;
}
.rights {
    margin-top:50px;
    margin-left:-10px;
    background-color: #9944FF;
    height: 50px;
    text-align:center;
    vertical-align: middle;
}
.rights_text {
    vertical-align: center;
    font-family: "Museo";
    align-items: center;
    margin-top:50px;
    color:white;
}
.radio_check {
    color:#6f33b9;
    background-color:#6f33b9;
}
.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
    line-height:30px;
	border: 1px solid #999;
	border-radius: 10px;
	user-select: none;
}
.form_radio_btn input[type=radio]:checked + label {
	background: #8520ff;
    color: white;
    font-family: "Museo";
    font-weight: 500;
    font-style: normal;
}
.form_radio_btn label:hover {
	background-color: #fde6ff;
    size-adjust:110%;
}
.registerisation_course {
    height:30px;
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 25px;
    margin-top: 50px;
    border-radius: 5px;
}