@font-face {
    font-family: "Mine";
    font-style: normal;
    font-weight: 900;
    src: url("/src/fonts/minecraft.ttf")
}
@font-face {
    font-family: "Museo";
    font-style: normal;
    font-weight: 500;
    src: url("/src/fonts/MuseoSansCyrl500.otf")
}
@font-face {
    font-family: "Museo";
    font-style: normal;
    font-weight: 900;
    src: url("/src/fonts/MuseoSansCyrl900.otf")
}
@font-face {
    font-family: "Museo";
    font-style: normal;
    font-weight: 300;
    src: url("/src/fonts/MuseoSansCyrl300.otf")
}
.Homeetlogo {
    padding: 20px;
    margin-bottom:50px;
    size-adjust:150%;
}
.header{
    padding:10px 10px;
    border-size:5px;
    border-style:solid;
    border-color:#6f33b9;
    color:#FFFFFF;
    width: 10;
    height:1000;
    font-family: "Mine", normal;
    margin-bottom: 40px;
    background:#9944FF;
}
.header1{
    border-size:125px;
    margin-top:-10px;
    margin-left:-10px;
    font-size: 150%;
    font-weight: 900;
    color:#6f33b9;
    font-style:normal;
    width: 10000;
    height:1000;
    font-family: "Museo", normal;
    margin-bottom: 40px;
}
.title {
    font-family: "Museo";
    font-style: normal;
    font-weight: 500;
    margin-bottom: 100px;
    margin-left:25px;
    font-size: 20pt;
}
.col {
    white-space: nowrap;
}
.colb {
    text-shadow:#FFFFFF;
    white-space: normal;	
	display: inline-block;
	width: 600px;
	vertical-align: top;
}
.col .colb:first-child {
	margin-right: 4%;
}
.col1 {
    white-space: nowrap;
}
.colb1 {
    text-shadow:#FFFFFF;
    white-space: normal;	
	display: inline-block;
    flex-direction: row;
	width: 200px;
	vertical-align: top;
}
.col1 .colb1:first-child {
	margin-right: 4%;
}
.photo_placer {
    margin-bottom: 50px;
    margin-left: 100px; 
    width: 400px; 
    height: 250px;
    border-radius: 10px;
    border-width: 5px;
    border-color:#DEDEFF;
    border-style: dashed;
    background: #F9F9FF;
    text-align: center;
}
.inside_placer {
    font-family:"Museo";
    font-weight: 900;
    font-style:normal;
    margin-top: 100px;
    margin-bottom: 20px;
}
.photo_input_mixed {
    position: relative;
	display: inline-block;
}
.input-file {
	position: relative;
	display: inline-block;
}
.photo_input_btn {
    font-family: "Museo";
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	background-color: #9944FF;
	line-height: 22px;
	height: 55px;
	padding: 17px 40px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: 200ms;
}
.photo_input_btn:hover {
    font-family: "Museo";
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	background-color: #b273ff;
	line-height: 22px;
	height: 53px;
	padding: 16px 40px;
	box-sizing: border-box;
	border: none;
	margin-top:1px;
	transition: 200ms;
}
.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.input-file:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.button_exit {
    transition: 200ms;
    color:#850085;
    margin-top:70px;
    margin-left: 450px;
    font-family: "Museo";
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #F9F9FF;
}
.checkbox_gender_unchecked {
    border-radius:50%;
    border-width:2px;
}
.button_exit:hover {
    cursor: pointer;
    color:#850085;
    margin-top:74px;
    margin-left: 450px;
    font-family: "Museo";
    width: 150px;
    height: 38px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #C9C9EE;
}
.button_continue {
    transition: 200ms;
    color:#850085;
    font-family: "Museo";
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #F9F9FF;
    margin-top:20px;
    margin-left: 1050px;
    margin-bottom: 100px;
}
.button_continue_disabled {
    color:#352435;
    font-family: "Museo";
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#361b36;
    border-style: solid;
    background: #a1a1a1;
    margin-top:20px;
    margin-left: 1050px;
    margin-bottom: 100px;
    opacity:50%;
}
.button_continue:hover {
    cursor: pointer;
    color:#850085;
    font-family: "Museo";
    width: 148px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #C9C9EE;
    margin-top:20px;
    margin-left: 1045px;
}
.button_find {
    text-align: center;
    transition: 200ms;
    color:#850085;
    font-family: "Museo";
    padding:10px;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #F9F9FF;
    margin-top:20px;
    margin-left: 10px;
}
.button_find:hover {
    padding:9px;
    text-align: center;
    transition: 200ms;
    color:#850085;
    font-family: "Museo";
    width: 58px;
    height: 39px;
    border-radius: 5px;
    border-width: 1px;
    border-color:#850085;
    border-style: solid;
    background: #c9c9c9;
    margin-top:20px;
    margin-bottom:2px;
    margin-left: 11px;
}
.registerisation {
    height:30px;
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color:#F7F7F7;
    border-color:#f2f2f2;
}
.registerisation::placeholder{
    height:20px;
    transition: 200ms;
}
.registerisation:hover::placeholder{
    height:20px;
    font-family: "Museo";
    font-weight: 500;
    color:#1a0f27;
    padding-bottom: 10px;
    
}
.registerisation_label {
    height:30px;
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 50px;
    border-radius: 5px;
}
.registerisation1 {
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color:#F7F7F7;
    border-color:#DDDDDD;
}
.registerisation1::placeholder {
    transition: 200ms;
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color:#F7F7F7;
    border-color:#DDDDDD;
}
.registerisation1:hover::placeholder {
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color:#F7F7F7;
    border-color:#DDDDDD;
    height:20px;
    font-weight: 500;
    color:#1a0f27;
    padding-bottom: 10px;
}
.labels {
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.registerisation_gender {
    border-width:2px;
    margin-right:25px;
    font-family: "Museo";
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border-color:#9944FF;
}
.registerisation_status {
    border-width:2px;
    margin-right:25px;
    font-family: "Museo";
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border-color:#9944FF;
}
.registerisation_status1 {
    border-width:1px;
    margin-left:150px;
    font-family: "Museo";
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border-color:#9944FF;
}
.registerisation_about {
    font-family: "Museo";
    margin-left: 100px;
    border-width: 1px;
    margin-bottom: 100px;
    margin-top: 15px;
    border-radius: 5px;
    border-color:#9944FF;
}
.how_it_looks {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    font-family: "Museo";
    margin-bottom: 100px;
    margin-top: 50px; 
    width: 500px; 
    height: 300px;
    border-radius: 10px;
    border-width: 5px;
    border-color:#EEEEFF;
    border-style: solid;
    background: #F9F9FF;
    text-align: center;
}
.hil_title {
    margin-top:10px;
    font-family: "Museo";
}
.png_input{
    opacity: 0%;
}
.hil_image{
    border-radius:10px;
    margin-left:-75px;
    width:150px;
    height:150px;
    object-fit:cover;
    padding:20px;
}
.hil_name {
    vertical-align: top;
    width:200px;
    font-family: "Museo";
    font-weight: 900;
    font-size: 18px;
    font-style:inherit;
    margin-top:25px;
    margin-bottom: 25px;
    text-align: left;
}
.hil_about {
    font-family: Museo;
    font-weight: 300;
    font-size: 12px;
    text-align: left;
    word-wrap: normal;
    width:200px;
}
.hil_about_img {
    font-family: Museo;
    font-weight: 300;
    font-size: 12px;
    text-align: left;
    word-wrap: normal;
    width:100px;
    margin-left:15px;
}
.rights {
    margin-top:50px;
    padding: 20px 2px;
    background-color: #9944FF;
    text-align:center;
    vertical-align: middle;
    width:100%;
}
.rights_text {
    vertical-align: center;
    font-family: "Museo";
    align-items: center;
    margin-top:10px;
    color:white;
}
.radio_check {
    color:#6f33b9;
    background-color:#6f33b9;
}
.form_radio_btn {
    cursor: pointer;
	display: inline-block;
	margin-right: 3px;
}
.form_radio_btn input[type=radio] {
    cursor: pointer;
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
    line-height:30px;
	border: 1px solid #999;
	border-radius: 10px;
	user-select: none;
}
.form_radio_btn input[type=radio]:checked + label {
	background: #8520ff;
    color: white;
    font-family: "Museo";
    font-weight: 500;
    font-style: normal;
}
.form_radio_btn label:hover {
	background-color: #fde6ff;
    size-adjust:110%;
}
.registerisation_course {
    height:30px;
    border-width:1px;
    font-family: "Museo";
    margin-left: 150px;
    margin-bottom: 25px;
    margin-top: 50px;
    border-radius: 5px;
}